<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello </h1>
<h1>Welcome to codefellowship </h1>

<div th:each="userdata : ${userdata}">
    <h2 th:text = "'Username: ' + ${userdata.username}"></h2>
    <p th:text = "'First Name: ' + ${userdata.firstName}"></p>
    <p th:text = "'Last Name: ' + ${userdata.lastName}"></p>
    <p th:text = "'Date of Birth: ' + ${displayedUser.date}"></p>
    <p th:text = "'Specialization: ' + ${displayedUser.Specialization}"></p>
    <p th:text = "'bio: ' + ${displayedUser.bio}"></p>
</div>
</body>
</html>
