<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <nav>
        <div style="text-align: center;">
            <!--            <button onclick="Promitquestion()">Click here to try JS code</button>-->
        </div>
        <ul>
            <a></a>
            <a></a>
        </ul>
    </nav>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login page</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
<!--    <script th:src="@{/js/myjs.js}"></script>-->
</head>
<body>

<h1>Login</h1>

<form action="/perform_login" method="post" >
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <input type="submit">

    <a href="/signup">Click here to signup</a>
</form>
</body>
<footer>

    <div>
        <h6> &copy; 2022 All rights reserved </h6>    <h6> Login page </h6>

    </div>
</footer>
</html>