<!DOCTYPE html>
<html lang="en">
<head>
    <nav>

        <div style="text-align: center;"/>
        <a class="nav-link" href="/preform_logout">Logout</a>
        <a class="nav-link" href="/post">Add Post</a>

        <ul>

            <a></a>
            <a></a>
            <a></a>

        </ul>

    </nav>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Details</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!--    <script th:src="@{/js/myjs.js}"></script>-->

</head>
<body>

<h1>User <span th:text="${user.username}"></span> Data</h1>
<h2>Username :<span th:text="${user.username}"></span></h2>
<h2>First Name :<span th:text="${user.firstName}"></span></h2>
<h2>Last Name :<span th:text="${user.lastName}"></span></h2>
<h2>Date of Birth :<span th:text="${user.dateOfBirth}"></span></h2>
<h2>Specialization :<span th:text="${user.specialization}"></span></h2>
<h2>Bio :<span th:text="${user.bio}"></span></h2>



<!--<ul th:each="posts: ${posts}">-->
<!--    <p>body</p><span th:text="${posts.getBody}"></span>-->
<!--    <p>createdAt</p><span th:text="${posts.getCreatedAt}"></span>-->
<!--</ul>-->

</body>
<footer>

    <div>
        <h6> &copy; 2022 All rights reserved </h6>    <h6> User Detalis </h6>

    </div>
</footer>
</html>