<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul th:each="user: ${user}">
    <h2>Username :<span th:text="${user.username}"></span></h2>
    <h2>First Name :<span th:text="${user.firstName}"></span></h2>
    <h2>Last Name :<span th:text="${user.lastName}"></span></h2>
    <h2>Date of Birth :<span th:text="${user.dateOfBirth}"></span></h2>
    <h2>Specialization :<span th:text="${user.Specialization}"></span></h2>
    <h2>Bio :<span th:text="${user.bio}"></span></h2>
</ul>
</body>
</html>